{% extends 'base_layout.html' %} 

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Contract List</h1>
</div>
  {% for contract in contracts %}
  <div class="card contract" style="width: 36rem; margin: 10px 0px 10px 0px;">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'contracts:detail' slug=contract.slug %}">{{ contract.title }}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ contract.date }}</h6>
      <p class="card-text">contract participant: {{ contract.participant }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}