<!-- {% extends 'base_layout.html' %} 

{% block content %}
<div class="contract-approve">
    <div class="contract">
        <h2>{{ contract.title }}</h2>
        <p>{{ contract.body }}</p>
        <p>contract participant: {{ contract.participant }}</p>
        <p>{{ contract.date }}</p>
        <form class="site-form" action="{% url 'contracts:' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="approve">
        </form>
    </div>
</div>

{% endblock %} -->
<h1>Test</h1>