{% extends 'base_layout.html' %} 

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Contract Detail</h1>
</div>
<div class="card contract-approve mx-auto">
    <div class="card-body contract">
      <h5 class="card-title">{{ contract.title }}</h5>
      <p class="card-text">{{ contract.body }}</p>
      <p>contract participant: {{ contract.participant }}</p>
      <p>{{ contract.date }}</p>
      <form class="site-form" action="{% url 'contracts:detail' slug=contract.slug %}" method="post">
          {% csrf_token %}
          <button class="btn btn-success" type="submit">Complete Approval</button>
      </form>
    </div>
  </div>
{% endblock %}