{% extends 'base_layout.html' %} 

    {% block content %}
    <div class="jumbotron" style="background:#A9DFBF">
        <h1 class="display-4">Welcome to CLMP!</h1>
        <p class="lead">The Contract Lifecycle Management Platform (CLMP) allows individuals to form contractual
            obligations free of centralized organization.
        </p>
        <hr class="my-4">
        <p>CLMP's goal is to make contracting easy, seamless, and accessible to all individuals.</p>
        <p class="lead">
            <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
        </p>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/helloquence-OQMZwNd3ThU-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Login To Your Account</h5>
            <p class="card-text">
                {% if user.is_authenticated %}
                <p>Username: {{ user.username }}</p>
                <!-- <a><a href="{% url 'logout' %}">Logoff</a></p> -->
                <a href="{% url 'logout' %}" class="btn btn-primary">Logoff</a>
                {% else %}
                <!-- <p><a href="{% url 'login' %}">Login</a></p> -->
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endblock %}