{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- load Google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- load local stylesheet -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>CLMP</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'homepage' %}">CLMP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- If the user is authenticated, show these links -->
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contracts:list' %}">Contract List <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About Us <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <!-- If the user isn't authenticated, show these links -->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About Us <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <div class="jumbotron" style="background:#A9DFBF">
        <h1 class="display-4">Welcome to CLMP!</h1>
        <p class="lead">The Contract Lifecycle Management Platform (CLMP) allows individuals to form contractual
            obligations free of centralized organization.
        </p>
        <hr class="my-4">
        <p>CLMP's goal is to make contracting easy, seamless, and accessible to all individuals.</p>
        <p class="lead">
            <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
        </p>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/helloquence-OQMZwNd3ThU-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Login To Your Account</h5>
            <p class="card-text">
                {% if user.is_authenticated %}
                <p>Username: {{ user.username }}</p>
                <!-- <a><a href="{% url 'logout' %}">Logoff</a></p> -->
                <a href="{% url 'logout' %}" class="btn btn-primary">Logoff</a>
                {% else %}
                <!-- <p><a href="{% url 'login' %}">Login</a></p> -->
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                {% endif %}
            </p>
        </div>
    </div>
    <!-- <h1>This is the home page</h1>
    <p>Welcome to CLMP</p> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>