{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is the home for the Contract Lifecycle Management Platform (CLMP).</p>
    <hr class="my-4">
    <p>We're under construction, please check back soon for contract and participant information.</p>
    <p class="lead">
      <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </p>
  </div>
  <!-- <h1>Home</h1> -->
  <!-- <p>Welcome</p> -->
{% endblock %}