{% extends 'base_layout.html' %} 

    {% block content %}
    <div class="jumbotron" style="background:#A9DFBF">
        <h1 class="display-4">Welcome to CLMP!</h1>
        <p class="lead">The Contract Lifecycle Management Platform (CLMP) allows individuals to form contractual
            obligations free of centralized organization.
        </p>
        <hr class="my-4">
        <p>CLMP's goal is to make contracting easy, seamless, and accessible to all individuals.</p>
        <p class="lead">
        </p>
    </div>
    <div class="card mx-auto">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h5 class="card-title">Welcome back!</h5>
            <p class="card-text">
                <p>Logout When Complete</p>
                <p>Username: {{ user.username }}</p>
                <p>Fullname: {{ user.first_name }} {{ user.last_name }}</p>
                <p>Social Security: {{ user.officialidentity.SocialSecurityNumber }}</p>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logoff</a>
                {% else %}
                <h5 class="card-title">Login to Your Account</h5>
            <p class="card-text">
                <p>Click below to login</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endblock %}